<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns:its="http://www.w3.org/2005/11/its" its:version="2.0">
	<its:rules version="2.0">
		<its:translateRule selector="//item/@label" translate="yes" />
		<its:translateRule selector="//item/@tooltip" translate="yes" />
	</its:rules>

	<item module="campaignList" label="Campagnes" tooltip="Campagnes de pêche">
		<item module="campaignList" label="Campagnes" tooltip="Campagnes de pêche"/>
		<item module="campaignDisplay" label="Dernière campagne" tooltip="Affichage de la dernière campagne traitée récemment"/>
		<item module="operationDisplay" label="Dernière opération" tooltip="Affichage de la dernière opération traitée récemment"/>
		<item module="sequenceDisplay" label="Dernière séquence" tooltip="Affichage de la dernière séquence traitée récemment"/>
		<item divider="1" droits="manage"/>
		<item module="requestList" label="Requêtes SQL" tooltip="Exécution de requêtes SQL dans la base de données" droits="param"/>
	</item>

	<item module="default" label="Télémétrie" tooltip="Suivi des poissons en télémétrie">
		<item module="stationTrackingList" label="Stations utilisées" tooltip="Liste des stations utilisées en télédétection"/>
		<item module="individualTrackingList" label="Poissons suivis" tooltip="Liste des poissons suivis"/>
		<item module="importExecDisplay" label="Import détection et données sondes" tooltip="Réaliser une importation de données de télémétrie ou des relevés de sondes"/>
		<item module="individualTrackingImport" label="Import des poissons" tooltip="Importer les poissons concernés par l'opération de télémétrie"/>
		<item module="default" label="Paramètres" tooltip="Paramètres liés à la télémétrie des poissons">
			<item module="station_typeList" label="Types de stations" tooltip="Liste des types de station"/>
			<item module="transmitter_typeList" label="Types d'émetteurs" tooltip="Liste des types d'émetteurs"/>
			<item module="technology_typeList" label="Technologies" tooltip="Technologies employées"/>
			<item module="antenna_typeList" label="Types d'antennes" tooltip="Types d'antennes (détection individuelle)"/>
			<item module="parameterMeasureTypeList" label="Paramètres de mesure" tooltip="Paramètres de mesure enregistrés par les sondes"/>
			<item module="importTypeList" label="Types d'import" tooltip="Liste des types d'import"/>
			<item module="importDescriptionList" label="Modèles d'import" tooltip="Liste des modèles d'importation de fichiers"/>
            <item divider="1" droits="param"/>
            <item module="detectionCalculateSun" label="Recalculer jour/nuit" tooltip="Recalculer la position des détections dans la journée" droits="param"/>
		</item>
	</item>

	<item module="param" label="Paramètres" tooltip="Paramètres généraux et tables de référence">
		<item module="projectList" label="Projets" tooltip="Liste des projets"/>
		<item module="protocolList" label="Protocoles" tooltip="Liste des protocoles"/>
		<item module="operatorList" label="Opérateurs" tooltip="Liste des opérateurs"/>
		<item divider="1"/>
		<item module="riverList" label="Cours d'eau" tooltip="Liste des cours d'eau"/>
		<item module="stationList" label="Stations" tooltip="Liste des stations">
			<item module="stationList" label="Stations" tooltip="Liste des stations"/>
			<item module="station_typeList" label="Types de stations" tooltip="Types des stations de tracking"/>
		</item>
		<item divider="1"/>
		<item module="taxonList" label="Taxon" tooltip="Liste des taxons"/>
		<item module="taxatemplateList" label="Grilles de taxons" tooltip="Modèles de grilles de sélection des taxons"/>
		<item module="measureTemplateList" label="Mesures complémentaires" tooltip="Modèles de mesures complémentaires pour les taxons"/>
		<item module="sexeList" label="Sexe" tooltip="Liste des sexes"/>
		<item module="pathologyList" label="Pathologies" tooltip="Types de pathologie"/>
		<item divider="1"/>

		<item module="fishing_strategyList" label="Stratégies" tooltip="Stratégies de pêche"/>
		<item module="scaleList" label="Échelle de pêche" tooltip="Échelle spatiale de pêche"/>
		<item module="analysisTemplateList" label="Modèles d'analyse" tooltip="Modèles d'analyse complémentaire"/>

		<item divider="1"/>
		<item module="default" label="Ambiances" tooltip="Paramètres d'ambiance">
			<item module="cache_abundanceList" label="Caches" tooltip="Classes d'abondance des caches"/>
			<item module="cloggingList" label="Colmatage" tooltip="Types de colmatage du substrat"/>
			<item module="situationList" label="Emplacements" tooltip="Emplacements particuliers"/>
			<item module="faciesList" label="Faciès" tooltip="Types de faciès"/>
			<item module="flow_trendList" label="Flot" tooltip="Caractéristiques du flot"/>
			<item module="granulometryList" label="Granulométrie" tooltip="Classes de granulométrie du substrat"/>
			<item module="localisationList" label="Localisation" tooltip="Localisation du point de mesure"/>
			<item module="shadyList" label="Ombrage" tooltip="Types d'ombrage"/>
			<item module="sinuosityList" label="Sinuosité" tooltip="Types de sinuosité du cours d'eau"/>
			<item module="turbidityList" label="Turbidité" tooltip="Classes de turbidité"/>
			<item module="vegetationList" label="Végétation" tooltip="Nature de la végétation"/>
			<item module="speedList" label="Vitesse" tooltip="Classes de vitesse"/>
			<item module="ambienceTemplateList" label="Mesures complémentaires" tooltip="Mesures complémentaires associées à une ambience"/>
		</item>
		<item divider="1"/>
		<item module="gearList" label="Engins de pêche" tooltip="Liste des engins de pêche"/>
		<item module="gear_methodList" label="Méthodes de pêche" tooltip="Méthodes d'utilisation des engins de pêche"/>
		<item module="electric_current_typeList" label="Types de courant" tooltip="Types de courant électrique"/>
		<item divider="1"/>
		<item module="default" label="Télédétection" tooltip="Paramètres liés à la télédétection des poissons">
			<item module="station_typeList" label="Types de stations" tooltip="Liste des types de station"/>
			<item module="transmitter_typeList" label="Types d'émetteurs" tooltip="Liste des types d'émetteurs"/>
			<item module="technology_typeList" label="Technologies" tooltip="Technologies employées"/>
			<item module="antenna_typeList" label="Types d'antennes" tooltip="Types d'antennes (détection individuelle)"/>
			<item module="parameterMeasureTypeList" label="Paramètres de mesure" tooltip="Paramètres de mesure enregistrés par les sondes"/>
			<item module="importTypeList" label="Types d'import" tooltip="Liste des types d'import"/>
			<item module="importDescriptionList" label="Modèles d'import" tooltip="Liste des modèles d'importation de fichiers"/>
		</item>
		<item module="exportModelList" label="Modèles d'export" tooltip="Liste des modèles d'exportation des données"/>
		<item divider="1"/>
		<item module="feedCacheMap" label="Mise en cache de la carto" tooltip="Stocker le fonds cartographique pour une utilisation hors Internet"/>
		<item divider='1'/>
		<item module="dbstructureSchema" droits="param" label="Schéma de la base de données" tooltip="Schéma de la base de données"/>
		<item module="dbstructureHtml" droits='param' label="Structure de la base de données (HTML)" tooltip="Liste des tables et des colonnes"/>
		<item module="dbstructureLatex" droits='param' label="Structure de la base de données (Latex)" tooltip="Liste des tables et des colonnes sous forme de tableaux Latex"/>
	</item>

	<item module="administration" label="Administration" tooltip="Administration de l'application" droits="admin">
		<item module="loginmanageList" droits="admin" label="Liste des comptes locaux" tooltip="Liste des logins - identification via la base de données" />
		<item module="appliList" drsoits="admin" label="ACL - droits" tooltip="applications et droits gérés" />
		<item module="aclloginList" droits="admin" label="ACL - logins" tooltip="Logins déclarés dans le module de manage des droits" />
		<item module="groupList" droits="admin" label="ACL - groupes de logins" tooltip="Groupes de logins et logins rattachés aux groupes" />
		<item module="dbparamList" droits="admin" label="Paramètres de l'application" tooltip="Liste des paramètres pérennes de l'application" />
		<item divider="1" />
		<item module="phpinfo" droits="admin" label="PHP info" tooltip="configuration générale du serveur PHP" />
		<item module="logList" droits="admin" label="Logs" tooltip="Consultation des logs enregistrées" />
		<item module="systemShowServer" droits="admin" label="Variables SERVER" tooltip="Affichage des variables fournies par le serveur"/>
		<item module="systemShowSession" droits="admin" label="Variables SESSION" tooltip="Affichage des variables de session"/>
		<item divider="1"/>
		<item module="backupDisplay" droits="admin" label="Backup" tooltip="Sauvegarde de la base de données" />
	</item>
	<item module="connexion" label="Connexion" tooltip="S'identifier dans l'application" onlynoconnect="1" />
	<item module="disconnect" label="Déconnexion" tooltip="Déconnexion de l'application" loginrequis="1">
		<item module="totpCreate" label="Activer la double authentification" tooltip="Activer la double authentification pour votre compte" loginrequis="1" />
		<item module="getLastRelease" label="Nouvelle version ?" tooltip="Rechercher s'il existe une nouvelle version disponible de l'application"/>
		<item module="getLastConnections" label="Dernières connexions" tooltip="Liste des dernières connexions réalisées" loginrequis="1" />
		<item module="loginChangePassword" loginrequis="1" label="Modifier le mot de passe" tooltip="Modifiez votre mot de passe (identification locale uniquement)" />
	</item>
	<item module="aide" label="?" tooltip="Aide">
		<item module="about" label="A propos" tooltip="A propos de Metabo" />
		<item module="quoideneuf" label="Nouveautés" tooltip="Quoi de neuf dans l'application ?" />
		<item module="lexique" label="Lexique" tooltip="Lexique des termes utilisés dans le logiciel" />
		<item module="setlanguagefr" label="Français" tooltip="Libellés en français" />
		<item module="setlanguageen" label="English" tooltip="Labels in English" />
	</item>
</menu>
