<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns:its="http://www.w3.org/2005/11/its" its:version="2.0">
	<its:rules version="2.0">
		<its:translateRule selector="//item/@label" translate="yes"/>
		<its:translateRule selector="//item/@tooltip" translate="yes"/>
	</its:rules>

	<item module="campaignList" label="Campagnes" tooltip="Campagnes de pêche">
		<item module="campaignList" label="Campagnes" tooltip="Campagnes de pêche"/>
	</item>

	<item module="param" label="Paramètres" tooltip="Paramètres généraux et tables de référence">
		<item module="projectList" label="Projets" tooltip="Liste des projets"/>
		<item module="protocolList" label="Protocoles" tooltip="Liste des protocoles"/>
		<item module="operatorList" label="Opérateurs" tooltip="Liste des opérateurs"/>
		<item divider="1"/>
		<item module="riverList" label="Cours d'eau" tooltip="Liste des cours d'eau"/>
		<item module="stationList" label="Stations" tooltip="Liste des stations"/>
		<item divider="1"/>
		<item module="taxonList" label="Taxon" tooltip="Liste des taxons"/>
		<item module="sexeList" label="Sexe" tooltip="Liste des sexes"/>
		<item module="pathologyList" label="Pathologies" tooltip="Types de pathologie"/>
		<item divider="1"/>

		<item module="fishing_strategyList" label="Stratégies" tooltip="Stratégies de pêche"/>
		<item module="scaleList" label="Échelle de pêche" tooltip="Échelle spatiale de pêche"/>

		<item divider="1"/>
		<item module="cache_abundanceList" label="Caches" tooltip="Classes d'abondance des caches"/>
		<item module="cloggingList" label="Colmatage" tooltip="Types de colmatage du substrat"/>
		<item module="situationList" label="Emplacements" tooltip="Emplacements particuliers"/>
		<item module="faciesList" label="Faciès" tooltip="Types de faciès"/>
		<item module="flow_trendList" label="Flot" tooltip="Caractéristiques du flot"/>
		<item module="granulometryList" label="Granulométrie" tooltip="Classes de granulométrie du substrat"/>
		<item module="localisationList" label="Localisation" tooltip="Localisation du point de mesure"/>
		<item module="shadyList" label="Ombrage" tooltip="Types d'ombrage"/>
		<item module="sinuosityList" label="Sinuosité" tooltip="Types de sinuosité du cours d'eau"/>
		<item module="turbidityList" label="Turbidité" tooltip="Classes de turbidité"/>
		<item module="vegetationList" label="Végétation" tooltip="Nature de la végétation"/>
		<item module="speedList" label="Vitesse" tooltip="Classes de vitesse"/>
		<item divider="1"/>
		<item module="gearList" label="Engins de pêche" tooltip="Liste des engins de pêche"/>
		<item module="gear_methodList" label="Méthodes de pêche" tooltip="Méthodes d'utilisation des engins de pêche"/>
		<item module="electric_current_typeList" label="Types de courant" tooltip="Types de courant électrique"/>
	</item>

	<item module="administration" label="Administration" tooltip="Administration de l'application" droits="admin">
		<item module="loginList" menulevel="1" menuorder="9" droits="admin" label="Liste des comptes locaux" tooltip="Liste des logins - identification via la base de données"/>
		<item module="appliList" droits="admin" label="ACL - droits" tooltip="applications et droits gérés"/>
		<item module="aclloginList" droits="admin" label="ACL - logins" tooltip="Logins déclarés dans le module de gestion des droits"/>
		<item module="groupList" droits="admin" label="ACL - groupes de logins" tooltip="Groupes de logins et logins rattachés aux groupes"/>
		<item module="dbparamList" droits="admin" label="Paramètres de l'application" tooltip="Liste des paramètres pérennes de l'application" />
		<item divider='1'/>
		<item module="dbstructureSchema" droits="admin" label="Schéma de la base de données" tooltip="Schéma de la base de données"/>
		<item module="dbstructureHtml" droits='admin' label="Structure de la base de données (HTML)" tooltip="Liste des tables et des colonnes"/>
		<item module="dbstructureLatex" droits='admin' label="Structure de la base de données (Latex)" tooltip="Liste des tables et des colonnes sous forme de tableaux Latex"/>
		<item module="dbstructureGacl" droits="admin" label="Structure de la base de données des droits (HTML)" tooltip="Liste des tables et des colonnes de la base de données de gestion des droits"/>
		<item module="phpinfo" droits="admin" label="PHP info" tooltip="configuration générale du serveur PHP"/>
	</item>
	<item module="connexion" label="Connexion" tooltip="S'identifier dans l'application" onlynoconnect="1"/>
	<item module="disconnect" label="Déconnexion" tooltip="Déconnexion de l'application" loginrequis="1">
		<item module="loginChangePassword" loginrequis="1" label="Modifier le mot de passe" tooltip="Modifiez votre mot de passe (identification locale uniquement)" />
	</item>
	<item module="apropos" label="?" tooltip="Aide">
		<item module="apropos" label="A propos" tooltip="A propos de Collec-Science"/>
		<item module="news" label="Nouveautés" tooltip="Quoi de neuf dans l'application ?"/>
		<item module="setlanguagefr" label="Français" tooltip="Libellés en français"/>
		<item module="setlanguageen" label="English" tooltip="Labels in English"/>
	</item>
</menu>